<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNgMavenExampleSuite" parallel="false">
  
  <test name="Animal_Tests">
    <classes>
      <class name="com.testNG.animals.AnimalTest"/>
      <!-- add class Lion here -->
    </classes>
  </test>
  
  <test name="Plant_Tests">
    <classes>
        <!-- add class Plant here -->
        <!-- add class Grass here -->
        <!-- add class Tree here -->
    </classes>
  </test>
  
  <test name="Land_Tests">
    <classes>
        <!-- add class Land here -->
        <!-- add class Savannah here -->
    </classes>
  </test>
  
  
</suite>
